@font-face {
    font-family: "neoSans";
    src: url("../fonts/NeoSans-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "neoSans";
    src: url("../fonts/NeoSans-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(90, 68, 59)
}

a {
    text-decoration: none;
}

* {
    font-family: "neoSans";
}

img {
    max-height: 100%;
    max-width: 100%;
}

.high {
    width: 80%;
}


/**********Start Menu Style**********/

.all-menu {
    position: fixed;
    z-index: 99999;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 0;
}

@media (max-width:786px) {
    .all-menu {
        padding: 5px 0;
    }
}

.all-menu .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    -ms-flex-wrap: wrap;
    /* flex-wrap:  wrap; */
}


/**Logo*/

.all-menu .logo {}


/*menu*/

@media (min-width:1160px) {
    .all-menu .menu-content .menu {
        list-style: none;
        line-height: 60px;
    }
    .all-menu .menu-content .menu li {
        display: inline-block;
        padding: 0 20px;
    }
}

@media (max-width:1159px) {
    .all-menu .menu-content .menu {
        list-style: none;
        line-height: 10px;
        display: none;
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        right: 50%;
        top: 70px;
        text-align: center;
    }
    .all-menu .menu-content .menu li {
        display: block;
        padding: 20px 0;
    }
}

.all-menu .menu-content .menu li a {
    text-decoration: none;
    color: #2a0c00;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 16px;
}

.all-menu .menu-content .menu li a:hover {
    color: #883817;
}


/**Social Icon**/

.social {
    line-height: 60px
}

.social li {
    padding: 0 8px;
}

.social li a {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(42, 12, 0, 0.74);
    border-radius: 5px;
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

.social li a:hover {
    background-color: #883817;
}


/**Languge**/

.languge {
    line-height: 60px;
    float: right;
    display: block;
}

.languge select {
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: #2a0c00c2;
    color: #fff;
    -webkit-transition: ;
    transition:
}

.languge select:hover {
    background-color: #883817
}

.languge select:focus,
.languge select option:focus {
    outline: none!important;
}

.languge select option {
    padding: 20px!important;
}

.all-menu .menu-content .menu li a.active {
    color: #883817;
}


/**Start Responsev Mnue**/

@media (min-width:1024px) {
    .all-menu .logo {
        width: 20%
    }
    .all-menu .menu-content {
        width: 50%
    }
    .all-menu .social {
        width: 20%
    }
    .all-menu .languge {
        width: 10%
    }
}

@media (max-width:1024px) and (min-width:768px) {
    .all-menu .logo {
        width: 13%;
    }
    .all-menu .menu-content {
        width: 20%
    }
    .all-menu .social {
        width: 40%;
        text-align: center;
    }
    .all-menu .languge {
        width: 20%
    }
}

@media (max-width:769px) {
    .all-menu .logo {
        width: 40%
    }
    .all-menu .menu-content {
        width: 20%;
    }
    .all-menu .social {
        width: 60%;
        display: none;
    }
    .all-menu .languge {
        width: 40%
    }
}


/**End Responsev Mnue**/


/****Start Menu With Button****/

.menu-button {
    float: right;
}

@media (min-width:1159px) {
    .menu-button {
        display: none!important;
    }
}

@media (max-width:1160px) {
    .menu-button {
        display: block;
    }
}

.menu-button,
.menu-button.go {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 15px;
    cursor: pointer;
}

.menu-button .menu-icon,
.menu-button .menu-icon:before,
.menu-button .menu-icon:after {
    height: 2px;
    width: 30px;
    border-radius: 10px;
    background-color: #000;
    display: inline-block;
}

.menu-button:hover .menu-icon,
.menu-button:hover .menu-icon:before,
.menu-button:hover .menu-icon:after {
    background-color: #883817;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.menu-button .menu-icon:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 13px;
}

.menu-button .menu-icon:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
}

.menu-button.go .menu-icon {
    background-color: rgba(0, 0, 0, 0)
}

.menu-button.go .menu-icon:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 10px
}

.menu-button.go .menu-icon:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 10px
}


/****End Menu With Button****/


/**********End Menu Style**********/


/*For All Pages*/

.fp-tableCell {
    display: block;
}

@media (max-width:767px) {
    .page {
        padding-top: 190px;
        height: 100%;
    }
}

@media (min-width:768px) {
    .page {
        padding-top: 170px;
        height: 100%;
    }
}

.title {
    font-size: 30px;
    margin: 0;
}


/*****Start About Us Page******/

.overlay {
    position: relative;
    color: #fff;
}

.overlay:before {
    position: absolute;
    display: block;
    content: "";
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
    height: 100%;
}

@media (max-width:768px) {
    .page .title {
        margin-top: 15px
    }
}

.about-us h3 {
    margin: 0 0 30px 0;
    font-size: 20px;
}

@media (max-width:768px) {
    .about-us p {
        margin: 0 0 20px 0;
        height: 113px;
        overflow: hidden;
        /* font-weight: 400; */
        line-height: 30px;
    }
}

@media(min-width:769px) {
    .about-us p {
        margin: 0;
        /* font-weight: 400; */
        line-height: 30px;
        font-size: 14px;
        height: 219px;
        overflow: hidden;
    }
}

.about-us .about-img {
    height: 400px;
    width: 100%;
    border: 4px solid #fff;
}

@media (max-width:768px) {
    .about-us .about-img {
        height: 200px;
        width: 100%;
        border: 4px solid #fff;
    }
}

.about-us .about-img img {
    max-width: 100%
}


/*****End About Us Page******/


/*****Start Contact Us Page****/

.contact-us {
    text-align: center;
    color: #fff
}

.contact-us form {
    max-width: 750px;
    margin: 0 auto;
}

@media (min-width:1024px) {
    .contact-us form {
        margin-top: 50px;
    }
}

@media (min-width:1024px) {
    margin-top: - 50px;
}

.contact-us h2 {
    font-size: 10px;
    margin: 0;
    margin-bottom: 10px
}

.contact-us ul {
    padding-top: 30px;
}

.contact-us ul li a {
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s
}

.contact-us ul li a:hover {
    background-color: #000
}

@media(max-width:1024px) {
    .contact-us .block {
        margin: 20px 0;
    }
}

@media(min-width:1024px) {
    .contact-us .block {
        margin: 90px 0 30px 0;
    }
}

.contact-us i {
    font-size: 35px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 15px;
    /* box-shadow: 0 0 20px rgba(255, 249, 247, 0.49); */
}

.contact-us i:before {
    color: #ffffff
}

.contact-us h4 {
    /* color: #bf7d13; */
    font-size: 14px;
    margin: 10px 0;
}

.form-Style input,
.form-Style textarea {
    width: 100%;
    padding: 8px 20px;
    margin: 10px;
    color: #a57014cf;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.96);
}

::-ms-.form-Style input-placeholder {
    color: #fff;
}

.form-Style input[type="submit"] {
    width: 20%;
    float: right;
    border: 0;
    background-color: #883817;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
}

.form-Style input[type="submit"]:hover {
    background-color: #2a0c00;
}

.form-Style input:focus,
.form-Style textarea:focus {
    outline: none!important;
    border-color: #a57014cf;
}

.form-Style textarea {
    height: 150px;
}


/*Map*/

@media(min-width:768px) {
    #map {
        height: 400px;
    }
}

@media(max-width:768px) {
    #map {
        height: 200px;
    }
}

.map p {
    margin: 20px 0;
    line-height: 24px;
    font-size: 16px;
}


/*****End Contact Us Page****/


/***Start Our Projects Page =3=****/

.our-project {
    text-align: center;
}

.our-project h2 {
    font-size: 24px
}

.our-project h3 {
    font-size: 16px
}

.our-project .box {
    margin: 20px 0;
    display: block;
    text-decoration: none;
}

.our-project .box h6 {
    color: #fff;
    font-size: 20px;
    margin: 20px 0;
}

.our-project .box .block-img {
    border: 4px solid #fff;
    background-color: white;
}

.project {
    margin-top: 80px;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

@media (max-width:768px) {
    .project {
        margin: 0
    }
}

@media(max-width:768px) {
    .project .box {
        width: 33.33%;
        display: block;
        padding: 0 5px;
    }
}

@media(min-width:768px) {
    .project .box {
        width: 33.33%;
        display: block;
        padding: 0 15px;
    }
}


/***Start Our Projects Page =3=****/


/***Start Our Services Page**/

.our-services.overlay:before {
    background-color: rgba(125, 37, 1, 0.91);
}

.our-services {
    color: #ffffff;
}

.our-services h3 {
    margin-bottom: 20px;
}

.our-services p {
    line-height: 24px;
    font-size: 16px
}

@media (min-width:768px) {
    .our-services .services-img {
        height: 63vh;
        background-size: cover;
        border: 7px solid #ffffff;
    }
}

@media (max-width:767px) {
    .our-services .services-img {
        height: 50vh;
        background-size: cover;
        border: 7px solid #ffffff;
    }
}


/***End Our Services Page**/

@media (min-width:768px) {
    .parent {
        width: 90%;
        position: absolute;
        top: 34%;
        left: 8%;
        right: 0;
    }
}

@media (max-width:767px) {
    .parent {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 3%;
        right: 0;
    }
}


/**Start Pages Animation*/

.section.active:nth-child(1n) .background {
    -webkit-animation: zoomIn 2s both;
    animation: zoomIn 2s both;
}

.section.active:nth-child(2n) .background {
    -webkit-animation: zoomIn 2s both;
    animation: zoomIn 2s both;
}

.section.active:nth-child(3n) .background {
    -webkit-animation: vanishIn 2s both;
    animation: vanishIn 2s both;
}

.section.active:nth-child(4n) .background {
    -webkit-animation: zoomIn 2s both;
    animation: zoomIn 2s both;
}

.section.active:nth-child(5n) .background {
    -webkit-animation: holeIn 2s both;
    animation: holeIn 2s both;
}


/******End pages Animation******/


/******Start Footer For All Page*****/

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(46, 20, 3, .8)));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(46, 20, 3, .8) 100%);
    z-index: 9999999;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    display: inline-block;
    color: #fff;
}

.footer p {
    position: absolute;
    bottom: 0;
    margin: 0;
    margin: 25px 0;
}

.footer a {
    text-decoration: none;
    right: 70px;
    bottom: 0;
    position: absolute;
    margin: 25px 0;
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.footer a:hover {
    color: #e29818;
}

.background {
    height: 100%;
    width: 100%;
    background-position: center;
}

.button-scrool:hover {
    background-color: #e29818
}

.button-scrool:before {
    content: "\f106";
    position: absolute;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    right: 32%;
    color: #2e1403;
    font-family: "fontawesome";
}

.button-scrool {
    background-color: #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 100%;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 50px;
    -webkit-box-shadow: 0 9px 54px #000;
    box-shadow: 0 9px 54px #000;
    opacity: 0.8
}

@media (max-width:768px) {
    .button-scrool {
        background-color: #fff;
        height: 35px;
        width: 35px;
        text-align: center;
        line-height: 35px;
        border-radius: 100%;
        cursor: pointer;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 100px;
        -webkit-box-shadow: 0 9px 54px #000;
        box-shadow: 0 9px 54px #000;
        opacity: 1
    }
}

.footer-style {
    position: relative;
}

.footer-style:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.last-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(42, 12, 0, 0.6);
}

.last-footer p {
    color: #fff;
    font-size: 18px;
    display: inline-block;
}

.mahacode-copyrights,
.last-footer p {
    margin: 20px 0;
}

.mahacode-copyrights {
    display: inline-block;
    float: right;
    position: relative;
    font-family: NeoSans;
}

@media(max-width:768px) {
    .mahacode-copyrights,
    .last-footer p {
        float: none;
        text-align: center;
        display: block;
    }
    #button-scrool {
        bottom: 120px;
    }
}

.fp-controlArrow.fp-next {
    right: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #fff;
}

.fp-controlArrow.fp-next:hover {
    border-color: transparent transparent transparent #2e1403;
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-width: 20px 20px 20px 0;
    border-color: transparent #2e1403 transparent transparent;
}

.fp-controlArrow.fp-prev:hover {
    border-color: transparent #fff transparent transparent;
}


/*********************Maha Code Logo***************************/


/**** Maha/Code ****/

.mc-tooltip {
    visibility: hidden;
    opacity: 0;
    width: 300px;
    border-radius: 5px;
    position: absolute;
    background: #FFF;
    color: #242424;
    font-size: 14px;
    bottom: 100%;
    right: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.mc-tooltip h3 {
    font-size: 14px;
    padding: 0 15px;
    font-weight: 500;
    line-height: 46px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .10);
    color: #249c6b;
    margin-bottom: 15px;
    /* text-align:  center; */
}

.mc-tooltip h4 {
    font-size: 14px;
    padding: 0 15px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    color: #249c6b;
}

.mc-tooltip h4:before {
    font-size: 18px;
    margin-right: 10px;
}

.mc-tooltip .btns-icons {
    line-height: 60px;
    border-top: 1px solid rgba(0, 0, 0, .10);
    text-align: center;
}

.mc-tooltip .btns-icons a {
    margin: 0 2px;
    display: inline-block;
    vertical-align: middle;
    line-height: 28px;
    color: #FFF;
    width: 30px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.mc-tooltip .btns-icons a.fa-home {
    background: #249c6b;
    font-size: 19px;
}

.mc-tooltip .btns-icons a.fa-skype {
    background: #1fc4f3;
    font-size: 19px;
}

.mc-tooltip .btns-icons a.fa-whatsapp {
    background: #40b857;
    font-size: 16px;
}

.mc-tooltip .btns-icons a.fa-behance {
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #009cff;
}

.mc-tooltip .btns-icons a.fa-instagram {
    background: #cca767;
    font-size: 16px;
}

.mc-tooltip .btns-icons a.fa-twitter {
    background: #1fc4f3;
    font-size: 16px;
}

.mc-tooltip .btns-icons a.fa-facebook {
    background: #546bf8;
    font-size: 18px;
}

.mc-tooltip:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    border: 10px solid transparent;
    border-top-color: #FFF;
}

.mahacode-copyrights:hover .mc-tooltip {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width:480px) {
    .copyrights {
        text-align: center;
    }
    .copyrights .mahacode-copyrights {
        display: block;
        text-align: center;
        float: none;
    }
}

::-webkit-input-placeholder {
    color: #fff;
    font-size: 12px;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    color: #fff;
    font-size: 12px;
    opacity: 1;
    /* Firefox */
}

::placeholder {
    color: #5a443a;
    font-size: 12px;
    opacity: 1;
    /* Firefox */
}


}

}